{% extends 'core/general/base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'core/css/typepagestyle.css' %}">
{% endblock style %}

{% block content %}
<div class="sale"><img src="https://cdn.shopify.com/s/files/1/0176/5061/4372/files/03_copy_1296x.jpg?v=1589424606" alt=""></div>
    <p class="title">Browse By Category</p>

    <div class="display-flex">
     
      <div class="flex-item"><a href=""><img src="clothes.jpg" alt=""></a></div>
      <div class="flex-item"><a href=""><img src="clothes.jpg" alt=""></a></div>
      <div class="flex-item"><a href=""><img src="clothes.jpg" alt=""></a></div>
      <div class="flex-item"><a href=""><img src="clothes.jpg" alt=""></a></div>
      <div class="flex-item"><a href=""><img src="clothes.jpg" alt=""></a></div>

      
    </div>
    <p class="title">Brands You Love</p>

    <div class="display-flex">
  
      <div class="flex-item"><a href=""><img src="clothes.jpg" alt=""></a></div>
      <div class="flex-item"><a href=""><img src="clothes.jpg" alt=""></a></div>
      <div class="flex-item"><a href=""><img src="clothes.jpg" alt=""></a></div>
      <div class="flex-item"><a href=""><img src="clothes.jpg" alt=""></a></div>
      <div class="flex-item"><a href=""><img src="clothes.jpg" alt=""></a></div>


    </div>
    <p class="title">Items You May Like</p>

    <div class="display-flex-with-caption">
      <div class="flex-item-with-caption">
        <a href=""><img src="clothes.jpg" alt=""></a>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed ducimus optio eos quod sequi, velit excepturi voluptates dolor! Eius, iusto in! Dolor tempore praesentium consequatur, iusto nesciunt maxime placeat veritatis!</p>
      </div>
      <div class="flex-item-with-caption">
         <a href=""><img src="clothes.jpg" alt=""></a>
         <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam maiores sunt ipsa. Fuga cupiditate unde mollitia, veritatis hic odit natus?</p>
      </div>
    </div>
  <div class="sale">
      <img src="men.gif" alt="">
  </div>
{% endblock content %}
 